html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Hoves Pro Trial", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.container {
  padding-left: 135px;
  padding-right: 135px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}
.section__title {
  margin: 0;
  padding: 0;
  color: #BDBDBD;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.social-networks__list:not(:last-child) {
  margin-right: 10px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 330px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.site-nav__link {
  display: block;
  padding: 32px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #f24822;
}

.site-nav__list:not(:last-child) {
  margin-right: 60px;
}

#navigation li a.current-page {
  color: #333333;
}

.current-page,
.other-page {
  position: relative;
}

.current-page::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #333333;
}
.current-page::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #333333;
}

.other-page::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #f24822;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.other-page::after {
  content: "";
  position: absolute;
  bottom: 30%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #f24822;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.other-page:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.other-page:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero {
  position: relative;
}
.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.hero__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 90px;
  text-transform: uppercase;
  color: #BDBDBD;
}
.hero__title-span {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  color: #333333;
}
.hero__container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__button-arr {
  cursor: pointer;
  position: relative;
  width: 53px;
  height: 53px;
  border: 1px solid #F2F2F2;
  background: #ffffff;
}
.hero__button-arr:not(:last-child) {
  margin-right: 23px;
}
.hero__button-arr + .hero__button-arr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 51px;
  width: 1300%;
  height: 1%;
  background-color: #E0E0E0;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  z-index: -10;
}
.hero__button-arr:hover, .hero__button-arr:focus {
  border: 1px solid #F2F2F2;
  background: #F9F9F9;
}
.hero__paragraph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__paragraph {
  position: relative;
  margin-top: 94px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #BDBDBD;
}
.hero__paragraph:not(:last-child) {
  margin-right: 88px;
}
.hero__paragraph + .hero__paragraph::before {
  content: "";
  position: absolute;
  top: 55%;
  left: -65px;
  width: 140%;
  height: 6.5%;
  background-color: #E0E0E0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.hero__button {
  cursor: pointer;
  text-align: center;
  border-style: none;
  position: absolute;
  bottom: 0px;
  left: 825px;
  width: 222px;
  height: 71px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}
.hero__button svg {
  vertical-align: middle;
}
.hero__button:hover, .hero__button:focus {
  color: #f24822;
  border: 1px solid #f24822;
}
.hero__button:hover svg {
  fill: #f24822;
}

.about-section {
  padding-top: 120px;
  padding-bottom: 30px;
}
.about-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1230px;
  height: 435px;
  padding-top: 30px;
  background-color: #FBFBFB;
}
.about-section__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}
.about-section__pictures img {
  margin-bottom: 30px;
}
.about-section__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.about-section__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.about-section__text {
  margin: 20px 0;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.about-section__button {
  cursor: pointer;
  text-align: center;
  border-style: none;
  bottom: 0px;
  left: 926px;
  width: 222px;
  height: 71px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}
.about-section__button svg {
  vertical-align: middle;
}
.about-section__button:hover, .about-section__button:focus {
  color: #f24822;
  border: 1px solid #f24822;
}
.about-section__button:hover svg {
  fill: #f24822;
}

img.specific-image {
  height: 345px;
  margin-top: 30px;
}

.tasks {
  margin-bottom: 62px;
}
.tasks__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tasks__item:not(:last-child) {
  margin-right: 30px;
}
.tasks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tasks__wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 187px;
  height: 140px;
}
.tasks__number {
  color: #F2F2F2;
  font-family: "SF Pro Display", sans-serif;
  font-size: 200px;
  font-weight: 900;
  margin: 0;
  margin-right: 30px;
}
.tasks__text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.portfolio-section__title {
  margin-bottom: 60px;
}
.portfolio-section__examples {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.portfolio-section__overlay {
  position: relative;
}
.portfolio-section__overlay:hover .portfolio-section__shadow {
  display: block;
}
.portfolio-section__shadow {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: #333333;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio-section__name {
  margin: 48px 78px 14px 78px;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
}
.portfolio-section__button {
  cursor: pointer;
  margin-left: 79px;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  background: transparent;
  font-family: "Gothic A1", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.portfolio-section__button svg {
  vertical-align: middle;
}
.portfolio-section__button:hover, .portfolio-section__button:focus {
  color: #f24822;
  border: 1px solid #f24822;
}
.portfolio-section__button:hover svg {
  fill: #f24822;
}
.portfolio-section__button-submit {
  cursor: pointer;
  width: 222px;
  height: 71px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  fill: #ffffff;
  background-color: #333333;
}
.portfolio-section__button-submit svg {
  vertical-align: middle;
  fill: #ffffff;
}
.portfolio-section__button-submit:hover svg {
  fill: #f24822;
}
.portfolio-section__button-submit:hover, .portfolio-section__button-submit:focus {
  color: #f24822;
  border: 1px solid #f24822;
  background-color: #ffffff;
}
.portfolio-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 195px;
}

.contacts {
  margin-bottom: 22px;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 30px;
}
.contacts__input {
  width: 391px;
  height: 46px;
  border: none;
  outline: none;
  padding-left: 21px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
  background: #F3F3F3;
}
.contacts__textarea {
  width: 391px;
  height: 147px;
  border: none;
  outline: none;
  padding-left: 21px;
  padding-top: 14px;
  margin-bottom: 22px;
  color: #8D8D8D;
  background: #F3F3F3;
}
.contacts__textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contacts__textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contacts__textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contacts__textarea::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contacts__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8D8D8D;
}
.contacts____input-container {
  position: relative;
}
.contacts__checkbox {
  margin-right: 10px;
}
.contacts__private-policy {
  margin-bottom: 21px;
  width: 331px;
}
.contacts__label {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.required-field__tel {
  color: red;
  margin-left: -254px;
}

.required-field__mail {
  color: red;
  margin-left: -325px;
}

.required-field__text {
  color: red;
  position: absolute;
  left: 240px;
  top: 3225px;
}

.footer {
  padding: 58px 0;
  background-color: #2C2C2C;
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__rights {
  margin: 0;
  padding: 24px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(200, 200, 200, 0.5);
  background-color: #2C2C2C;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-contact-information__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.footer-contact-information__item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-contact-information__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-address {
  font-style: normal;
}
.footer-address__list {
  margin: 0;
  padding: 0;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 33px;
  width: 260px;
}
.footer-address__item svg {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}
.footer-address__map {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #ffffff;
}
.footer-address__mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #ffffff;
}
.footer-address__tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #ffffff;
}

.footer-networks {
  color: #ffffff;
}
.footer-networks__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.social-networks__list:not(:last-child) {
  margin-right: 40px;
}
.social-networks__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-networks__links:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */