.footer-networks {
  color: $white-text;

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: normal; 
    color: $white-text;
  }
}

.social-networks {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &__list {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__links:hover {
    cursor: pointer;
  }
}
