.header {
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 330px;
}

